*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #6771d2;
}
.general{
    width: 500px;
    margin: auto;
    background-color: #f3f5fd;
    border-radius: 4px;
    padding: 40px 0;
}
.general .container{
    width: 350px;
    margin: auto;
}
.general .container h1{
    font-size: 24px;
line-height: 28px;
text-transform: uppercase;
color: #4f4f4f;
font-weight: bold;
font-family: "Proxima Nova";
margin-bottom: 20px;
}
.general .container label h6{
    font-size: 14px;
letter-spacing: 2px;
line-height: 28px;
color: #4f4f4f;
text-transform: uppercase;
font-weight: bold;
font-family: "Proxima Nova";
margin-bottom: 10px;
}
.general .container label input{
    padding: 20px;
    width: 330px;
    font-size: 18px;
color: #555555;
font-weight: 300;
font-family: "Proxima Nova";
outline: none;
border-radius: 2px;
border: 1px solid #d8d8d8;
margin-bottom: 25px;
}
/*.general .container label:nth-child(1) input{
    margin-bottom: 25px;
} */
.finish{
    display: flex;
    justify-content: space-between;
}
.forgot a{
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    color: #04a9f4;
    font-weight: bold;
    font-family: "Roboto";
}
.check label{
    font-size: 14px;
    line-height: 28px;
    color: #8b8b8b;
    font-weight: bold;
    font-family: "Roboto";
}
.sign{
    text-align: center;
    margin: 70px 0 60px 0;
}
.sign button{
    width: 330px;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova";
    text-align: center;
    filter: drop-shadow(0px -1px 0px rgba(0,0,0,0.2));
    background-color: #0796d7;
    padding: 15px 90px;
    border: none;
    border-radius: 3px;
}
.social button:nth-child(1){
    width: 165px;
background-color: #3161a1;
padding: 20px 45px;
border: none;
border-radius: 5px;
margin-right: 15px;
}
.social button:nth-child(2){
    width: 165px;
background-color: #00a9f3;
padding: 20px 45px;
border: none;
border-radius: 5px;
}
.social button a{
    text-decoration: none;
    font-size: 14px;
letter-spacing: 1px;
line-height: 20px;
color: #ffffff;
font-weight: bold;
font-family: "Proxima Nova";
text-align: center;
}
#inf{
    position: relative;
}
i{
    position: absolute;
    top: 42%;
    right: 37%;
    color: #8b8b8b;
    cursor: pointer;
}
span{
    color: red;
}